################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyBlog/.vs/MyBlog
/MyBlog.BLL/obj
/MyBlog/obj
/MyBlog.Common/obj
/MyBlog.DAL/obj
/MyBlog.Model/obj
/MyBlog/.vs/ProjectEvaluation
/MyBlog/bin/Debug/net8.0
/MyBlog.BLL/bin/Debug/net8.0
/MyBlog.Common/bin/Debug/net8.0
/MyBlog.DAL/bin/Debug/net8.0
/MyBlog.Model/bin/Debug/net8.0